.login-body{
    height: 100vh;
    align-content: center;
    background-image: url(/src/assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container-left{
    padding-right: 3em;
    text-align: center;
}

.img-logo{
    width: 30em;
    margin-bottom: 1em;
}

.login-container-left p{
    width: 20em;
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
    color: #616161;
    padding-right: 1em;
}

.login-container-right{
    background-color: #fff;
    border-radius: 5px;
    padding: 3em 3em;
    box-shadow: 4px 5px 15px #010113;
}

.login-container-right h2{
    font-family: "Archivo Black", sans-serif;
    font-size: 50px;
    color: #1565C0;
}

.login-container-right p{
    font-size: 18px;
    color: #616161;
}

.form-info{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 2em;
}

.form-infos input{
    padding: 1.5em;
    border-radius: 5px;
    border: #616161 solid 1px;
}

.form-infos label{
    color: #616161;
}

.form-infos input::placeholder{
    color: #616161;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.btn-login{
    padding: 1em;
    width: 100%;
    background-color: #00C853;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-top: 2.5em;
    cursor: pointer;
    opacity: 0.9;
}

.btn-login:hover{
    opacity: 1;
}

.cadastro{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-top: 1em;
    text-align: center;
}

.cadastro a{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

/* Responsividade de fontes */
@media (max-width: 1200px){  
    .login-container-left p{
        font-size: 24px; 
    }
    .login-container-right h2{
        font-size: 40px;
    }
}

@media (max-width: 992px){
    .img-logo{
        width: 20em;
    }
    .login-container-left p{
        font-size: 16px;
    }
    .login-container-right h2{
        font-size: 35px;
    }
}

@media (max-width: 480px){
    .login-container-right h2{
        font-size: 28px;
    }

    .login-container-right p{
        font-size: 14px;
    }
}

/* Landscape pequenos aparelhos */
@media (max-width: 812px) and (orientation: landscape) {
    .login-body{
        height: auto;
        background-image: url(/src/assets/bg-portrait.PNG);
        background-position: 50%;
    }

    .login-container {
        flex-direction: column;
        align-items: center;
        margin: 3em;
    }

    .login-container-left {
        padding-right: 0;
        margin-bottom: 1.5em;
    }

    .img-logo {
        width: 12em;
    }

    .login-container-left p {
        display: none;
    }

    .login-container-right {
        padding: 2em;
    }
}

/* Portrait mode todos */
@media (orientation: portrait) {
    .login-body{
        background-image: url(/src/assets/bg-portrait.PNG);
        background-size: cover;
        background-position: 50%;
    }
    
    .login-container {
        flex-direction: column;
        align-items: center;
        margin: 3em;
    }

    .login-container-left {
        margin-bottom: 2em;
        padding-right: 0; 
        text-align: center;
    }

    .img-logo {
        width: 12em;
    }

    .login-container-left p {
        display: none;   
    }

    .login-container-right {
        padding: 2em;
        width: 90%;
    }
}
