body{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 3em;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-img{
    width: 80px;
}

.logo-text{
    width: 200px;
    padding-top: 1em;
}

.nav a{
    text-decoration: none;
    padding-right: 1em;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.nav a:hover{
    color: #3b3b3b;
}

.nav-side, .nav-side-icon{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container{
    width: 60%;
    background-color: #fff;
    padding: 3em;
    border-radius: 5px;
    box-shadow: 0 2px 6px #616161;
    margin: 2em 0;
}

.main-container h1{
    text-align: center;
    margin-bottom: 2em;
    font-family: "Archivo Black", sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
    color: #1565C0 ;
}

h2{
    color: #1565C0;
    font-size: 24px;
    margin-bottom: 1em;
}

/*Dados Pessoais*/

.section-infos{
    margin-bottom: 2em;
}

.section-infos-top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-bottom: 1em;
}

.section-infos-top .info{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
}

.section-infos-top input{
    padding: 0.6em 0;
    border: none;
    border-bottom: #616161 solid 1px;
    outline: none;
}

#name, #email {
    font-size: 16px;
    color: #616161;
}

/* container valores */

.section-infos-bottom-valores{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    text-align: center;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 2px 6px #616161;
    background-color: #fff;
}

.section-infos-bottom-valores input[type="number"]{
    width: 70px;
    text-align: center;
    border: none;
    background-color: transparent;
}

.section-infos-bottom input[type="text"]{
    max-width: 90px;
    color: #616161;
    font-size: 14px;
    background-color: transparent;
    border: none;
    outline: none;
}

#idadeValor, #alturaValor, #pesoValor, #imcValor{
    font-size: 24px;
    font-weight: 600;
    color: #3b82f6;
    text-align: center;
}

#dataNascimento{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.imc {
  background-color: #1565c031;
  border-radius: 2em;
  padding: 1.5em 0.8em;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imc-numero {
  font-size: 20px;
  font-weight: 600;
  color: #3b82f6;
  margin: 0;
}

.imc-classificacao {
    font-size: 16px;
  color: #1565C0;
  margin: 0;
}

/* Botões*/

.left-btns{
    display: flex;
    gap: 1em;
    margin-top: 2em;
    justify-content: flex-end;
}

.edit-btn, .save-btn{
    padding: 0.6em 1em;
    font-size: 18px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn{
    background-color: #616161;
    opacity: 0.9;
    display: flex;
    gap: 0.4em;
    justify-content: center;
}

.edit-btn:hover{
    opacity: 1;
}

.save-btn{
    background-color: #00C853;
    opacity: 0.9;
}

.save-btn:hover{
    opacity: 1;
}



/*modo edição */

.section-infos.edit-mode input:not([readonly]) {
    color: #000 !important;
    background-color: #e9e8e8 !important;
    border-bottom: 1px solid #676768 !important;
    pointer-events: auto;
    transition: 0.2s ease;
    border-radius: 6px;
}

.section-infos.edit-mode input[type="number"]:not([readonly]) {
  color: #1565C0 !important;
}

.section-infos.edit-mode input[type="date"]:not([readonly]) {
  border: none;
  padding: 0.3em;
}


/* Impede que o modo edição altere o email */
.section-infos.edit-mode #email {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #616161 !important;
  opacity: 0.7 !important;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Metas e Objetivos*/

.form-metas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 2px 6px #616161;
    background-color: #fff;
    margin-bottom: 2em;
}

.form-metas input, select{
    padding: 1em;
    border-radius: 6px;
    border: solid 1px #333;
}

.form-metas span{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-metas .linha-valor, .linha-final{
    display: flex;
    gap: 2em;
}

.linha-final{
    justify-content: space-between;
}

.datas{
    display: flex;
    gap: 2em;

}

.btnAdd{
    background-color: #00C853;
    opacity: 0.9;
    font-size: 18px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.6em 1em;
    align-self: flex-end;
    
}

.form-metas button:hover{
    opacity: 1;
}

/* lista mets*/

.lista-metas {
    margin-top: 0.5em;
    padding: 0.5em;
    max-height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.meta-card {
    background: #ffffff;
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-left: 6px solid #f44c44; /* destaque */
    transition: 0.2s ease;
    cursor: pointer;
}

.meta-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.meta-card-title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #1565C0;
    margin-bottom: 6px;
}

.meta-card-info {
    font-size: 0.9rem;
    color: #444;
}

.meta-details {
    margin-top: 10px;
    padding: 12px;
    display: none;
    background: #f1f6ff;
    border-radius: 10px;
    border: 1px solid #d0def7;
    animation: fadeIn 0.3s ease;
}

/* Quando ativa */
.meta-details.ativa {
    display: block;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-4px); }
    to { opacity: 1; transform: translateY(0); }
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to   { opacity: 1; transform: translateY(0); }
}

.item-meta strong {
  color: #333;
}

.meta-titulo {
  font-weight: bold;
  font-size: 1.1rem;
  color: #444;
}

.meta-expandida {
  margin-top: 10px;
  padding: 10px;
  background: #111;
  border-radius: 6px;
  display: none;
}

.meta-expandida.ativa {
  display: block;
}

/* Botão sair */

.btn-sair{
    margin-top: 1.5em; 
    background-color: #616161;
    color: #fff;
    padding: 0.8em 2em;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;
}

.btn-sair:hover{
    opacity: 1;
}

/* popup erro e sucesso*/

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-conteudo {
  background: #fff;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.popup-conteudo p {
  margin-bottom: 1em;
  font-size: 16px;
  color: #333;
}

.popup-conteudo button {
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 5px;
  background: #1565C0;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}




/* Responsividade*/
@media (max-width: 1200px){  
    .main-container{
        width: 70%;
    }
}

@media (max-width: 992px){
    nav a{
        font-size: 18px;
    }

    .main-container{
        width: 75%;
    }
}

@media (max-width: 730px){
    .form-metas .linha-valor, .linha-final {
    flex-direction: column;
    gap: 1em;
}

.section-infos-top {
    display: flex;
    flex-direction: column;
}

.imc{
        flex-direction: column;
        width: 90%;
        padding: 1.5em 0.8em;
    }
    

}

@media (max-width: 420px){
    .imc{
        padding: 1em 0.5em;
    }

    .datas {
    flex-direction: column;
    gap:1em;
}

}

/* Portrait + landscape pequenos */
@media (orientation: portrait), (max-width: 940px) and (orientation: landscape) {
    body{
        background-image: url(../assets/bg-portrait.PNG);
        background-size: cover;
        background-position: 50%;
    }

    header{
        padding: 0.8em 2em;
    }

    .logo-img{
        width: 40px;
    }

    .logo-text{
        width: 120px;
        padding-bottom: 0.3em;
    }

    .nav{
        display: none;
    }

    /* side nav */

    .nav-side, .nav-side-icon{
        display: block;
    }

    .nav-side-icon{
        font-size: 2em;
        color: #1565C0;
    }

    .nav-side {
        height: 100%;
        width: 0; 
        position: fixed;
        z-index: 3; 
        top: 0; 
        right: 0;
        background-color: #1565C0; 
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s; 
    }

    .nav-side a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        font-weight: 600;
        color: #fff;
        display: block;
        transition: 0.3s;
    }

    .nav-side a:hover {
        cursor: pointer;
        color: #3b3b3b;
    }

    .nav-side .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 2em;
    }
    
    main {
        height: auto;
    }

    .main-container{
        margin-bottom: 1em;
        width: 85%;
        padding: 1em;
        margin-top:1em;
    }

    .main-container h1{
        display: none;
    }

    .infos-container{
        display: flex;
        flex-direction: column;
    }

    .right-side {
        border-left: none;
        padding-left: 0;
    }

    .btn-sair, .edit-btn, .save-btn{
        padding: 0.8em 1em;
        font-size: 16px;
    }
}
